@model Product

<h2>Details for @Model.Name</h2>
<p>Id: @Model.Id</p>
<p>Description: @Model.Description</p>
<p>Price: @Model.Price</p>
<p>Category: @Model.Category</p>
<a href="https://cdn.buttercms.com/AB7ud4YSE6nmOX0iGlgA"</a>


<a asp-action="Index" asp-controller="Home"><p>Back to Index</p></a>